body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.MuiGridListTile-tile {
  color: #0b7;
  transition: 0.8s;
  cursor: pointer;
  border: 1px solid #034c4e;
  -webkit-transition:0.8s;
  border-radius: 10px;
  scale: 0.98;
  opacity: 0.95;
  height: 200%;
  text-size: 10px;
}

.MuiGridListTile-tile:hover {
  border: 1px solid rgb(173, 235, 211);
  color: #ffffff;
  scale: 1;
  opacity: 1;
}

.MuiGridListTile-tile :hover {
  scale: 1;
}

.MuiTypography-h2 {
  display: flex;
  justify-content: center;
}

.MuiCardMedia-root {
  margin:0px;
  width:100%;
  height:250px;
  background:#fff;
  border: solid black;
  border-color: black;
  float: right;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.MuiCardMedia-media {
  width: 30%;
}

.MuiTypography-rootMuiTypography-h3MuiTypography-gutterBottom {
  background-color: #034c4e;
}

.MuiTypography-h3 {
  display: flex;
  justify-content: center;
}

.MuiTypography-h4 {
  display: flex;
  justify-content: center;
}

.MuiTypography-h5 {
  display: flex;
  justify-content: center;
}

/* App.js */
table {
  width: 40rem;
  border-spacing: 0;
  margin: auto;
}

td {
  padding: 1rem;
  border-bottom: #ccc 1px solid;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
